[Unit]
Description=Restart Hyprsunset after suspend/hibernate
After=suspend.target hibernate.target

[Service]
Type=oneshot
ExecStart=pkill hyprsunset
ExecStartPost=hyprsunset &

[Install]
WantedBy=suspend.target hibernate.target
