[Unit]
Description=Restart Hyprsunset after suspend/hibernate
After=suspend.target hibernate.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'hyprsunset --once && pkill -HUP hyprsunset'

[Install]
WantedBy=suspend.target hibernate.target
