configuration {
  modi: "drun,run,window,ssh";
  show-icons: true;
  icon-theme: "Papirus-Dark";
  display-drun: " Apps";
  display-run: " Run";
  display-window: " Windows";
  display-ssh: " SSH";

  location: 0;
  fullscreen: false;
  lines: 10;
  fixed-num-lines: true;

  timeout {
      action: "kb-cancel";
      delay:  0;
  }

  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "wofi-like-theme"
